@use "../abstracts/index" as *;
.footer{
    width: 100%;
    padding: 1.6rem 0;
    background:$charleston-green;
    
    &__body{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 1.4rem;
            color: white;
            @include responsive(large){
                font-size: 1.3rem;
            }
            @include responsive(medium){
                font-size: 1.2rem;
            }
            @include responsive(small){
                font-size: 1.1rem;
            }
            @include responsive(xsmall){
                font-size: 1rem;
            }
        }
    }
}