@use "../abstracts/index" as *;
.appBar{
   background-color: rgba(255, 255, 255, 0)!important;
   &__nav{
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
        &__navlink{
            text-decoration: none;
            margin: 0 .2rem;
            color: white;
            letter-spacing: .1rem;
            padding: .6rem;
            transition: all .15s linear;
            border-radius: 4px;
            
        }
        &__navlogo{
            cursor: default;
        }
        &__icons{
            display: block;
            margin: 0 .2rem;
            margin-top: .2rem;
            color: white;
            padding: .6rem;
            padding-bottom: .3rem;
            transition: all .15s linear;
            border-radius: 4px;
            &:hover{
            background-color: rgba(255, 255, 255, 0.2);
            }
            @include responsive(large){
                display: block;
            }
            @include responsive(small){
                display: none;
            }
        }
    }
    &--2{
        background-color: $honey-yellow!important;
     }
}
.icons{
    &:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
}





