$honey-yellow: #FCB538ff;
$honey-yellow2: rgba(252, 180, 56, 0.3);
$honey-yellow3: rgba(252, 180, 56, 0.8);
$deep-taupe: #7C525Eff;
$deep-taupe-50: rgba(124, 82, 94, 0.2);
$deep-taupe-40: rgba(124, 82, 94, 0.15);
$black-coffee: #3C363Aff;
$charleston-green: #25292Aff;
$dark-lava: #48433Dff;